*{
    box-sizing: border-box;
}
body {
    padding-top: 30px;
    background-color: black;
}

.link-deco {
    text-decoration: none;
    color: white;
}

.link-deco a {
    text-decoration: none;
    color: #e84343;
}
.header{
    color: white;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.header .task{
    font-weight: bold;
}
.header .list{
    font-weight: 100;
    color: rgb(156, 153, 153);
    position: absolute;
    left: 13%;
}

#add-new-list{
   color: blue;
   font-size: 30px;
}    
.heading {
    font-size:40px;
}
.add-list {
    font-size:30px;
}
.icon-style {
    color: orangered;
    font-size: 26px;
    cursor: pointer;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    justify-content: space-between;
    padding-left:5%;
    padding-right:5%;
}

.box {
    height: 290px;
    width: 220px;
    border-radius: 0.5rem;
    margin: 1.5rem;
    background-color: white;
}

.singlecardcontainer {
    display: flex;
    justify-content: center;
}

.subhead {
    text-align: center;
    color: black;
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    font-weight: bold;
    text-align: right;
    padding: 20px;
    color: #e84343;
}

.checkbox {
    text-align: left;
}

.mainheading {
    font-weight: 1rem
}

.container {
    text-align: center;
}

.icon-style-2 {
    color: orangered;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    font-size: 0.5rem;
}

.icon-style-22 {
    color: red;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    font-size: 1.45rem;
}

.box {
    position: relative;
}

#subtext {
    list-style: none;
    list-style-type: none;
    font-size: 1.5rem;
    color: black;
}

.triptoparis {
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 80%;
    position: relative;
    color: white;
    cursor: pointer;
}

.back-opt {
    margin-top:10px;
    padding: 15px;
    float: left;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #fff;
    cursor: pointer;
    padding-left: 10%;
}

.box-main {
    height: 400px;
    width: 400px;
    border: 2px solid olivedrab;
    border-radius: 0.5rem;
    margin: auto;
    box-shadow: 10px 10px 10px #0a0a0a29;
    text-align: center;
    margin: auto;
}

.completed2 {
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #e84343;
}

.icon-style-2 {
    color: blue;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 20rem;
    font-size: 1.5rem;
}
.box-item-add {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 400px;
    height: 190px;
    background-color: white;
    border: 2px solid orangered;
    border-radius: 5px;
    margin: auto;
    padding: 3px;
    backdrop-filter: blur(5px);
}
.subheading {
    text-align: center;
    color: orangered;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    font-weight: bold;
}
.newitem{
    margin: auto;
    text-align: center;
    height: 10px;
    width: 300px;
}
.input-box,.input-box1{
    margin-top: 10px;
    height: 35px;
    width: 280px;
    text-align: center;
    border: 1.5px solid orangered;
    border-radius: 5px;
}
.input-box1{
    margin-left: 12%;
}
.add-btn {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    background-color: orangered;
    border-radius: 15px;
    color: white;
    align-items: center;
    display: inline-block;
    cursor: pointer;
    padding: 2px 9px;
}
.add-new-item-btn {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    align-items: center;
    display: inline-block;
}
.blur {
    filter: blur(5px);
}
.before-after-line:before {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: blue;
    left: 20%;
    top: 50%;
    position: absolute;
} 

 .before-after-line:after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: blue;
    right: 20%;
    top: 50%;
    position: absolute;
}

.page-change {
    margin: auto;
    padding: 0.5rem 3rem;
    text-align: center;
    background-color: blue;
    border: 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: .75rem;
    display: block;
    width: 10vw;
    position: fixed;
    bottom: 10%;
    right: 0;
    left: 0;
}

.page-change:hover {
    background-color: white;
    border: 2px solid chocolate;
    color: blue;
}

.tasklistitem {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: none;
}
.trip-flex-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.aiway {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

.list-styling {
    list-style-type: none;
}

.close {
    margin-left: 1rem;
}
.noTodo {
    font-size:45px;
    text-align: left;
    color: #9c9797;
    padding-left: 13%;
    position: absolute;
    top: 50%;
}

/* Media Query */

@media screen and (max-width:1150px) and (min-width:800px) {
    .header .list{
        position: absolute;
        left: 15%;
    } 
}
@media screen and (max-width:1010px) {
    .header .list{
        position: absolute;
        left: 17%;
    } 
}
@media screen and (max-width:900px) {
    .header .list{
        position: absolute;
        left: 18%;
    } 
}
@media screen and (max-width:830px) {
    .header .list{
        position: absolute;
        left: 20%;
    } 
}
@media screen and (max-width:760px) {
    .header .list{
        position: absolute;
        left: 23%;
    } 
}
@media screen and (max-width:660px) {
    .header .list{
        position: absolute;
        left: 28%;
    } 
}
@media screen and (max-width:540px) {
    .header .list{
        position: absolute;
        left: 32%;
    } 
}
@media screen and (max-width:400px) {
    .header .list{
        position: absolute;
        left: 45%;
        top: 15%;
    } 
    .add-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }
    .box-item-add,.input-box,.input-box1 {
        width: auto;
    }

}
@media screen and (max-width:350px) {
    .header .list{
        position: absolute;
        left: 52%;
        top: 15%;
    } 
    .box-item-add,.input-box,.input-box1 {
        width: auto;
    }
}
@media screen and (max-width:300px) {
    .header .list{
        position: absolute;
        left: 55%;
        top: 15%;
    } 
    .box-item-add,.input-box,.input-box1 {
        width: auto;
    }
}