*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: "Times New Roman";
}
/*////////////////////////New Cooments/////////////////*/
/*header*/
.nav{
    color: white;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50px;
    left: 180px;
}
.nav .task{
    font-weight: bold;
}
.nav .list{
    font-weight: 100;
    color: rgb(156, 153, 153);
}
.nav .additems{
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	top: 10px;
	left: 800px;
	font-size: 30px;
	font-weight: bold;
}
.nav .additems i{
    font-size: 30px;
    color: blue;
	position:relative;
	bottom: 4px;
	right: 10px;
}
#tbody{
	color: rgba(116, 117, 117, 0.89);
	font-size: 35px;
	padding: 50px;
}
#tbody.active{
    display:none;
}
/*POP TO ADD SCREEN*/
#poptoadd{
    backdrop-filter:blur(6px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: +1;
}
#poptoadd.active{
    display:flex;
}

/*POP UP SCREEN-1*/
#popTab{
	width: 370px;
	height: 190px;
	border: 1px solid red;
	border-radius: 10px;
    background-color:beige;
    display:none;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
	position: fixed;
    top: 200px;
    left: 460px;
	z-index: +2;
}
#popTab.active{
    display: flex;
}
#popTab .heading{
    font-size: 30px;
    color: tomato;
	margin-top: 10px;
}
#popTab #addTodoListDiv #addTodoListInput{
    width: 280px;
    height: 22px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
#popTab .btn button{
	width: 80px;
	height: 40px;
	border-radius: 19px;
	border: none;
	background-color: tomato;
	color: white;
	font-size: 20px;
	margin: 15px;
}
#popTab .btn button:hover{
    color: white;
    background-color: rgb(247, 79, 50);
}
/*CARD DESIGN*/
#card-design{
	width: 200px;
    height: 300px;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: rgb(165, 161, 161);
    text-align: center;
	border: 2px solid cornflowerblue;
    border-radius: 11px;
    padding-top: 18px;
	display: inline-block;
    position:relative;
    top: 150px;
    left: 130px;
    margin: 40px;
	overflow: hidden;
	cursor: pointer;
}
.hr{
	margin-top: 12px;
}
.ashi{
	display: none;
	z-index: -1;
}
.ashika{
	width: 300px;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
	margin-top: 5px;
	position: fixed;
    top: 259px;
    left: 484px;
	z-index: +3;
	display: inline-block;
}
#markbtn{
	width: 66px;
	height: 19px;
	font-size: 10px;
	background-color:blue;
	border-radius: 15px;
	color: white;
	padding: 2px;
	position: relative;
	top: 15px;
	cursor: pointer;
}
#markbtn.active{
	display: none;
}
/* #work.add{
	visibility: hidden;
} */
.card{
	width: 100%;
	height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
	font-size:20px ;
	color: black;
}
.card.delete{
	display: none;
}
.card p{
	padding: 5px;
	text-align: center;
}
#to-do-list-delete-icon{
	color: red;
	font-size: 30px;
	margin-left: 2px;
    margin-right: 10px;
	position: absolute;
    bottom: 10px;
	right: 50px;
}
#to-do-list-add-icon{
	color: blue;
	font-size: 30px;
	margin-left: 2px;
    margin-right: 10px;
	position: absolute;
    bottom: 10px;
	right: 8px;
}
/*POP UP BOX 2*/
#popTabForItem{
    width: 370px;
    height: 190px;
    border: 1px solid red;
    border-radius: 10px;
    background-color:beige;
    display: none;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 200px;
    left: 460px;
    z-index: +3;
}
#popTabForItem.active{
    display: flex;
}
#popTabForItem .heading1{
	margin-top: 10px;
    font-size: 30px;
    color: tomato;
}
#popTabForItem .inputbox1 input{
    width: 300px;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
	margin-top: 5px;
}
#popTabForItem #btn1 button{
      width: 80px;
      height: 40px;
      border-radius: 19px;
      border: none;
      background-color: tomato;
      color: white;
      font-size: 20px;
      margin: 15px;
}
#popTabForItem #btn1 button:hover{
    color: white;
    background-color: rgb(247, 79, 50);
}
#newScreen.active{
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	z-index: +6;
}